<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Crypto Web Application</title>

  <!-- CSS Stylesheets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="css/styles.css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  <!-- Datatables -->
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <!-- Highcharts -->
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/modules/data.js"></script>
  <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
  <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>
  <script src="https://code.highcharts.com/stock/indicators/ema.js"></script>
  <script src="https://code.highcharts.com/stock/indicators/macd.js"></script>
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/e492bd99df.js" crossorigin="anonymous"></script>

  <script type="text/javascript">
    function display_current_time() {
      var currentTime = new Date().toUTCString();
      document.getElementById('current_time').innerHTML = currentTime;
    }
    setInterval(display_current_time, 1000);

    function display_next_predict_time() {
      var now = new Date();
      var endOfDay = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate()+1, 0, 0, 0));
      var timeLeft = endOfDay.getTime() - now.getTime();
      var newPredictTime = new Date(timeLeft).toISOString().substr(11, 8);
      document.getElementById('next_predict_time').innerHTML = newPredictTime;
    }
    setInterval(display_next_predict_time, 1000);

    function display_tomorrow_predict_time() {
      var date = new Date(Date.now() + new Date().getTimezoneOffset() * 60 * 1000);

      date.setDate(date.getUTCDate() + 1);
      date.setHours(23);
      date.setMinutes(59);
      date.setSeconds(00);
      date = date.toDateString().replace(/\s/, ", ") + ' 23' + ':' + '59' + ':' + '00' + ' GMT';

      document.getElementById('tomorrow_predict_time').innerHTML = '<b>' + date + '</b>';
    }
    setInterval(display_tomorrow_predict_time, 1000);

    function display_day_after_tomorrow_predict_time() {
      var date = new Date(Date.now() + new Date().getTimezoneOffset() * 60 * 1000);

      date.setDate(date.getUTCDate() + 2);
      date.setHours(23);
      date.setMinutes(59);
      date.setSeconds(00);
      date = date.toDateString().replace(/\s/, ", ") + ' 23' + ':' + '59' + ':' + '00' + ' GMT';

      document.getElementById('day_after_tomorrow_predict_time').innerHTML = '<b>' + date + '</b>';
    }
    setInterval(display_day_after_tomorrow_predict_time, 1000);
  </script>
</head>

<body>

  <!-- User Selection -->

  <section id="user-selection">

    <div class="container-fluid">

      <nav class="navbar navbar-expand-sm navbar-light d-flex justify-content-between">

        <a class="navbar-brand d-flex" style="min-width: 270px;">
          <img class="card-crypto-image" width="58" height="58" src="<%= 'https://assets.coincap.io/assets/icons/' + crypto.summary.price.symbol.split('-')[0].toLowerCase() + '@2x.png' %>" alt="<%= crypto.summary.price.symbol.split('-')[0] %>">
          <form class="crypto-selection d-flex form-inline ms-2 flex-shink-0" action="/getCryptoInfo" method="post">
            <select class="form-select" name="cryptos" id="crypto-select">
              <% Object.keys(cryptoPairs).forEach(function(cryptoKey) { %>
                <option value="<%= cryptoKey %>" <% if (crypto.summary.price.symbol === cryptoKey) { %> selected <% } %>>
                  <%= cryptoPairs[cryptoKey] %>
                </option>
              <% }); %>
            </select>
          </form>
        </a>
        <!-- <span class="card-crypto-symbol">( <%= crypto.summary.price.symbol %> )</span> -->
        
        <div class="d-flex">
          <form class="d-flex form-inline ms-auto" action="/updateNewsInput" method="post">
            <div class="form-group mx-1">
              <textarea
                id="exampleFormControlTextarea1"
                class="form-control"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Enter any news for price prediction"
                name="newsInput"
                rows="1" cols="30"
                placeholder="(Optional) News Input"
              ></textarea>
            </div>
            <button name="predict_button" value="predict" class="btn btn-dark mx-2" type="submit" style="white-space: nowrap;">Predict with News</button>
            <button name="clear_button" value="Clear" class="btn btn-danger" type="submit" style="white-space: nowrap;">Clear All News</button>
          </form>
        </div>

        <div class="d-flex">
          <form class="d-flex form-inline ms-auto" action="/repredict" method="post">
            <button name="repredict_button" value="repredict" class="btn btn-info mx-2" type="submit" style="white-space: nowrap;">Re-Fetch Data</button>
            <button name="training_button" value="warning" class="btn btn-warning" type="submit" style="white-space: nowrap;">Re-Train Data</button>
          </form>
        </div>

      </nav>

    </div>

  </section>

  <!-- Info -->

  <section id="info">

    <div class="container-fluid">
      <div class="d-flex justify-content-end">
        <p id='current_time' class="ml-auto" style="margin: 0px; font-size: 12px;"></p>
      </div>

      <div class="row">

        <div class="info-box col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header align-items-center justify-content-center">
              <h4>Forecasting</h4>
            </div>
            <div class="card-body d-flex flex-column align-items-center">
              <p>Forecast for <span id="tomorrow_predict_time"></span>:</p>
              <p style="margin: 0;">
                <% if (newsArray && newsArray.length > 0) { %>
                  <span class="user-input">(based on your News)</span>
                <% } %>
              </p>
              <div>
                <% if (signalValue && signalValue.signal == true) { %>
                  <i class="fa-solid fa-arrow-up fa-5x" style="color: #00ff00;"></i>
                  <div style="margin: 5px 0;">
                    <div style="display: flex; justify-content: space-between; margin-top: 5px; font-size: 10px;">
                      <div style="text-align: left;">Least Confident</div>
                      <div style="text-align: right;">Most Confident</div>                        
                    </div>
                    <div class="gradient-bar green-gradient">
                      <span class="confidence-line" style="<%= 'left: calc(' + signalValue.conf * 100 + '% - 1.5px);' %>" ></span>
                    </div>
                  </div>
                <% } else { %>
                  <i class="fa-solid fa-arrow-down fa-5x" style="color: #ff0000;"></i>
                  <div style="margin: 5px 0;">
                    <div style="display: flex; justify-content: space-between; margin-top: 5px; font-size: 10px;">
                      <div style="text-align: left;">Least Confident</div>
                      <div style="text-align: right;">Most Confident</div>                        
                    </div>
                    <div class="gradient-bar red-gradient">
                      <span class="confidence-line" style="<%= 'left: calc(' + signalValue.conf * 100 + '% - 1.5px);' %>" ></span>
                    </div>
                  </div>
                <% } %>
              </div>

              <% if (newsArray && newsArray.length > 0) { %>
                <div style="font-size: 12px;">
                  <p>Your News:</p>
                </div>
                <ul class="align-self-start" style="font-size: 12px; padding: 0 40px;">
                  <% for (let i = 0; i < newsArray.length; i++) { %>
                    <li style="text-align: left;"><%= newsArray[i] %></li>
                  <% } %>
                </ul>
              <% } %>
              <p style="color: #C0C0C0; margin-bottom: 0;">Next Forecast Countdown:</p>
              <p style="color: #C0C0C0; margin: 0;">(for <span id="day_after_tomorrow_predict_time"></span>)</p>
              <p style="color: #C0C0C0;"><span id="next_predict_time"></span></p>
            </div>
          </div>
        </div>

        <div class="info-box col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header align-items-center justify-content-center">
              <h4>Today Price</h4>
            </div>
            <div class="card-body text-start">
              <p><b>Open:</b> $<%= parseFloat((crypto.summary.summaryDetail.regularMarketOpen).toPrecision(6)) %></p>
              <p><b>High:</b> $<%= parseFloat((crypto.summary.summaryDetail.regularMarketDayHigh).toPrecision(6)) %></p>
              <p><b>Low:</b> $<%= parseFloat((crypto.summary.summaryDetail.regularMarketDayLow).toPrecision(6)) %></p>
              <p><b>Volume:</b> <%= (crypto.summary.summaryDetail.volume).toLocaleString("en-US") %></p>
              <p><b>Market Cap:</b> <%= (crypto.summary.summaryDetail.marketCap).toLocaleString("en-US") %></p>
              <p><b>Circulating Supply:</b> <%= (crypto.summary.summaryDetail.circulatingSupply).toLocaleString("en-US") %></p>
            </div>
          </div>
        </div>

        <div class="info-box col-lg-4">
          <div class="card">
            <div class="card-header align-items-center justify-content-center">
              <h4>Past Details</h4>
            </div>
            <div class="card-body text-start">
              <p><b>52 Week Low:</b> $<%= parseFloat((crypto.summary.summaryDetail.fiftyTwoWeekLow).toPrecision(6)) %></p>
              <p><b>52 Week High:</b> $<%= parseFloat((crypto.summary.summaryDetail.fiftyTwoWeekHigh).toPrecision(6)) %></p>
              <p><b>50 Day Average Price:</b> $<%= parseFloat((crypto.summary.summaryDetail.fiftyDayAverage).toPrecision(6)) %></p>
              <p><b>200 Day Average Price:</b> $<%= parseFloat((crypto.summary.summaryDetail.twoHundredDayAverage).toPrecision(6)) %></p>
              <p><b>10 Day Average Volume:</b> <%= (crypto.summary.summaryDetail.averageVolume10days).toLocaleString("en-US") %></p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>

  <!-- Graphics -->

  <section id="graphics">

    <div class="container-fluid">

      <div class="row">

        <div class="graphics-column col-xl-6">
          <div class="border rounded container">
            <div id="chart"></div>
          </div>
        </div>

        <div class="graphics-column col-xl-6">
          <div class="graphics-column-table table-responsive border rounded container">
            <table id="crypto-table" class="display table table-striped caption-top">
              <caption>Historical Data</caption>
              <thead>
                <tr class="table-dark">
                  <th scope="col">Date</th>
                  <th scope="col">Actual</th>
                  <th scope="col">Forecast</th>
                  <th scope="col">Confidence</th>
                  <th scope="col">Open</th>
                  <th scope="col">High</th>
                  <th scope="col">Low</th>
                  <th scope="col">Close</th>
                  <th scope="col">Volume</th>
                </tr>
              </thead>
              <tbody>
                <% for (const price of crypto.prices) { %>
                  <tr>
                    <th scope="row"><%= price.date %></th>
                    <td>
                      <% if (price.actual == null) { %>
                        <span>-</span>
                      <% } else { %>
                        <% if (price.actual === true) { %>
                          <i class="fa-solid fa-arrow-up fa-1x" style="color: #00ff00;"></i>
                        <% } else { %>
                          <i class="fa-solid fa-arrow-down fa-1x" style="color: #ff0000;"></i>
                        <% } %>
                      <% } %>
                    </td>
                    <td>
                      <% if (!price.hasOwnProperty('forecast')) { %>
                        <span>-</span>
                      <% } else { %>               
                        <% if (price.forecast === true) { %>
                          <i class="fa-solid fa-arrow-up fa-1x" style="color: #00ff00;"></i>
                        <% } else { %>
                          <i class="fa-solid fa-arrow-down fa-1x" style="color: #ff0000;"></i>
                        <% } %>
                      <% } %>
                    </td>
                    <td style="padding: 0; margin: 0;">
                      <% if (!price.hasOwnProperty('confidence')) { %>
                        <span>-</span>
                      <% } else { %>               
                        <% if (price.forecast === true) { %>
                          <div style="margin: 5px 0;">
                            <div style="display: flex; justify-content: space-between; margin-top: 5px; font-size: 8px;">
                              <div style="text-align: left;">Least Confident</div>
                              <div style="text-align: right;">Most Confident</div>                        
                            </div>
                            <div class="gradient-bar green-gradient" style="width: 140px;">
                              <span class="confidence-line" style="<%= 'left: calc(' + price.confidence * 100 + '% - 1.5px);' %>" ></span>
                            </div>
                          </div>
                        <% } else { %>
                          <div style="margin: 5px 0;">
                            <div style="display: flex; justify-content: space-between; margin-top: 5px; font-size: 8px;">
                              <div style="text-align: left;">Least Confident</div>
                              <div style="text-align: right;">Most Confident</div>                        
                            </div>
                            <div class="gradient-bar red-gradient" style="width: 140px;">
                              <span class="confidence-line" style="<%= 'left: calc(' + price.confidence * 100 + '% - 1.5px);' %>" ></span>
                            </div>
                          </div>
                        <% } %>
                      <% } %>
                    </td>
                    <td><%= price.open %></td>
                    <td><%= price.high %></td>
                    <td><%= price.low %></td>
                    <td><%= price.close %></td>
                    <td><%= price.volume %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>

  </section>

  <!-- Footer -->
  <section id="footer">

    <footer class="text-center text-lg-start" style="background-color: gainsboro">
      <!-- Grid container -->
      <div class="container-fluid">
        <!--Grid row-->
        <div class="row" style="padding-top: 4%; padding-bottom: 3%">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Prediction</h5>
            <p style="font-size: 13px; text-align: justify;">
              Predictions are made for tomorrow's close at 2359 UTC. For the closing price of today, reference to yesterday's prediction. Prediction will be automatically updated at 0000 UTC every day. Upon the server begins each day, data fetched will become static. To dynamically fetch real-time data, press "Re-Fetch Data" button. You can do this how many times throughout a day as you want.
            </p>
            <h5 class="text-uppercase">About Our Model</h5>
            <p style="font-size: 13px; text-align: justify;">
              Our model gives a prediction direction and an auxiliary confidence score. A prediction direction of "Green Arrow, Up" means the price of that given crypto asset is likely to go up tomorrow; a prediction direction of "Red Arrow, Down" means the price of that respective crypto is likely to go down tomorrow. Confidence score captures the likelihood for the above predicted movement, i.e. the pricing of certain crypto tomorrow: "Most Confident, Up" > "Least Confident, Up" > "Least Confident, Down" > "Most Confident Down".
            </p>
            <p style="font-size: 13px; text-align: justify;">
              Our model makes use of real-time stocks data, candlestick images, news sentiments, and other markets information to make predictions. Our data is trained by a Convolutional Neural Networks model, a Recurrent Neural Networks model, a Long-Short-Term-Memory modek, a Multiple Linear Regression, and a Operator Strategy model.
            </p>
            <h5 class="text-uppercase">News Input Function</h5>
            <p style="font-size: 13px; text-align: justify;">
              You may input any news of your interest into the text box above and click "Predict with News". Adding more news will append to the prediction list. You may clear all inputted news using the "Clear All News" button. News sentiments are shared among all crypto assets in our model.
            </p>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Disclaimer</h5>
            <p style="font-size: 13px; text-align: justify;">
              Please note that any prediction model makes mistakes. It is advised to pay extra attention when making actual trading and do not 100% rely on the model due to incompleteness of capturing all information in the world. The development team of this model will not bear any responsibility for money lost due to incorrect prediction presented in this model. Nonetheless, this model gives guidance to the potential movements of cryptocurrencies, and it makes money in the long-run setting.
            </p>
            <p style="font-size: 13px; text-align: justify;">
              This is a Final Year Project for the Computer Science Department in the academic year 2022-2023 of HKUST, designed and developed by TAM Shing Hang Boris, WONG Ho Fung, WONG Keng Long, and TONG Hong Lun Alan. All rights reserved. Refer to the latest Intellectual Property guidelines of HKUST for copyright issues: <a href="https://okt.hkust.edu.hk/sites/default/files/IP-Policy/IP%20Policy_final.pdf" target="_blank">https://okt.hkust.edu.hk/sites/default/files/IP-Policy/IP%20Policy_final.pdf</a>
            </p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

    </footer>

  </section>


  <script>
  // Form Manipulation
    $(function() {
      // crypto selection form
      const form = document.querySelector('.crypto-selection');
      form.addEventListener('change', function() {
        form.submit();
      });

      // news prediction form
      $('[data-toggle="tooltip"]').tooltip({
        delay: {
          "show": 300,
          "hide": 100
        },
        placement: "bottom",
      })
    });
  </script>

  <script src="js/chart.js"></script>
  <script>
    // Chart Creation
    let cryptoPrices = '<%= JSON.stringify(crypto.prices) %>'
    const parser = new DOMParser();
    cryptoPrices = parser.parseFromString(`<!doctype html><body>${cryptoPrices}`, 'text/html').body.textContent;
    cryptoPrices = JSON.parse(cryptoPrices);
    cryptoName = '<%= crypto.summary.price.shortName %>';

    createChart(cryptoPrices, cryptoName);
  </script>

  <script>
  // Datatable Formatting
    $(function() {
      const formatter1 = DataTable.render.number(',', '.', 2, '<%= crypto.summary.price.currencySymbol %>');
      const formatter2 = DataTable.render.number(',', '.', 0, '');
      $("#crypto-table").DataTable({
        searching: false,
        order: [
          [0, "desc"]
        ],
        columns: [{
            render: (data, type) => {
              if (type == "display") {
                return new Date(data).toLocaleDateString("en-US", "short");
              }
              return data;
            }
          },
          {},
          {},
          {},
          { render: formatter1 },
          { render: formatter1 },
          { render: formatter1 },
          { render: formatter1 },
          { render: formatter2 },
        ],
        // scrollY: '50vh',
        // scrollCollapse: true,
        paging: true,
        // scrollX: true,
        initComplete: () => $(".table-responsive").show()
      });
      jQuery('#crypto-table').wrap('<div class="dataTables_scroll" />');
    });
  </script>

</body>

</html>
